<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 font-sans text-gray-800 flex items-center justify-center min-h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg max-w-md w-full">
        <h1 class="text-3xl font-semibold text-center text-gray-900 mb-6">Login auth med Flask</h1>
        
        <div class="text-center">
            <a href="{{ url_for('login') }}" class="text-blue-500 hover:text-blue-700 text-lg font-medium mb-4 block">Login</a>
            <a href="{{ url_for('register') }}" class="text-blue-500 hover:text-blue-700 text-lg font-medium">Register</a>
        </div>
    </div>
</body>

</html>
